.BGL {
  background: linear-gradient(
    28deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(194,194,194,1) 100%
  );
}
.BGT {
  background: linear-gradient(
    87deg,
    rgba(255, 255, 255, 1) 18%,
    rgba(42, 38, 38, 1) 88%
  );
  background-clip: text;
  color: transparent;
  font-size: 20px;

}

.BGT2 {
  background: linear-gradient(360deg,rgba(230, 230, 230, 1) 0%, rgb(176, 176, 176) 0%, rgba(230, 230, 230, 1) 100%);
  background-clip: text;
  color: transparent;
  font-size: 18px;
}

/* These rules collectively target Chrome, Safari, and Firefox autofill styling */
